<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/web/static/css/materialize.min.css"  media="screen,projection"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/web/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/web/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/web/static/js/admin_user.js"></script>
</head>

<body>
    <!-- nav -->
    <nav>
        <div class="nav-wrapper">
            <a href="/admin" class="brand-logo left">&nbsp;管理端</a>
            <ul id="nav-mobile" class="hide-on-med-and-down right">
                <li><a href="/admin/user">用户信息</a></li>
                <li><a href="/admin/course">课程信息</a></li>
                <li><a href="/">退出</a></li>
            </ul>
        </div>
    </nav>

    <!-- table -->
    <div style="margin:10px 0" class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a href="#tab1" class="active">学生</a></li>
                <li class="tab"><a href="#tab2">教师</a></li>
                <li class="tab"><a href="#tab3">管理员</a></li>
                <li class="tab"><a href="#tab4">什么鬼</a></li>
            </ul>
        </div>
        <!-- student -->
        <div id="tab1" class="col s12">
            <div class="card-panel">
                <a name="features"></a>
                <span class="card-title grey-text">
                    <h3>学生</h3>
                </span>
                <p>
                </p>
                <table class="hoverable">
                    <thead>
                        <tr>
                            <th data-field="id"><span class="green-text left">学号</span></th>
                            <th data-field="name"><span class="green-text left">姓名</span></th>
                            <th data-field="password"><span class="green-text left">密码</span></th>
                            <th data-field="score"><span class="green-text left">班级</span></th>
                            <th data-field="space"><span class="green-text right">&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.sid }}</td>
                            <td>{{ student.sname }}</td>
                            <td>{{ student.spwd }}</td>
                            <td>{{ student.cid }}</td>
                            <td><a href="javascript:delete_student('{{ student.sid }}')" class="btn waves-effect waves-light">删除</a></td>
                        </tr>
                        {% end %}
                        <tr>
                            <td>
                                <div class="input-field">
                                    <input id="sid" type="text" class="validate col s4" name="sid">
                                    <label for="sid">学号</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input id="sname" type="text" class="validate col s4" name="sname">
                                    <label for="sname">姓名</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input id="spwd" type="text" class="validate col s4" name="spwd">
                                    <label for="spwd">密码</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input id="cid" type="text" class="validate col s4" name="cid">
                                    <label for="cid">班级</label>
                                </div>
                            </td>
                            <td><a href="javascript:insert_student()" class="btn waves-effect waves-light">添加</a></td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-on-small-and-down">
						<tr>
						</tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- teacher -->
        <div id="tab2" class="col s12">
            <div class="card-panel">
                <a name="features"></a>
                <span class="card-title grey-text">
                    <h3>教师</h3>
                </span>
                <p>
                </p>
                <table class="hoverable">
                    <thead>
                        <tr>
                            <th data-field="id"><span class="green-text left">教工号</span></th>
                            <th data-field="name"><span class="green-text left">姓名</span></th>
                            <th data-field="password"><span class="green-text left">密码</span></th>
                            <th data-field="space"><span class="green-text right">&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.tid }}</td>
                            <td>{{ teacher.tname }}</td>
                            <td>{{ teacher.tpwd }}</td>
                            <td><a href="javascript:delete_teacher('{{ teacher.tid }}')" class="btn waves-effect waves-light">删除</a></td>
                        </tr>
                        {% end %}
                        <tr>
                            <td>
                                <div class="input-field">
                                    <input id="tid" type="text" class="validate col s4" name="tid">
                                    <label for="tid">教工号</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input id="tname" type="text" class="validate col s4" name="tname">
                                    <label for="tname">姓名</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input id="tpwd" type="text" class="validate col s4" name="tpwd">
                                    <label for="tpwd">密码</label>
                                </div>
                            </td>
                            <td><a href="javascript:insert_teacher()" class="btn waves-effect waves-light">添加</a></td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-on-small-and-down">
						<tr>
						</tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- admin -->
        <div id="tab3" class="col s12">
            <div class="card-panel">
                <a name="features"></a>
                <span class="card-title grey-text">
                    <h3>管理员</h3>
                </span>
                <p>
                </p>
                <table class="hoverable">
                    <thead>
                        <tr>
                            <th data-field="id"><span class="green-text left">管理号</span></th>
                            <th data-field="name"><span class="green-text left">姓名</span></th>
                            <th data-field="password"><span class="green-text left">密码</span></th>
                            <th data-field="space"><span class="green-text right">&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                        <tr>
                            <td>{{ admin.aid }}</td>
                            <td>{{ admin.aname }}</td>
                            <td>{{ admin.apwd }}</td>
                            <td><a href="javascript:delete_admin('{{ admin.aid }}')" class="btn waves-effect waves-light">删除</a></td>
                        </tr>
                        {% end %}
                        <tr>
                            <td>
                                <div class="input-field">
                                    <input id="aid" type="text" class="validate col s4" name="aid">
                                    <label for="aid">管理号</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input id="aname" type="text" class="validate col s4" name="aname">
                                    <label for="aname">姓名</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input id="apwd" type="text" class="validate col s4" name="apwd">
                                    <label for="apwd">密码</label>
                                </div>
                            </td>
                            <td><a href="javascript:insert_admin()" class="btn waves-effect waves-light">添加</a></td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-on-small-and-down">
						<tr>
						</tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="tab4" class="col s12">
        </div>

    </div>


</body>
</html>