<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/web/static/css/materialize.min.css"  media="screen,projection"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/web/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/web/static/js/materialize.min.js"></script>
</head>

<body>
    <div style="width: 400px; margin: 0 auto;" class="row">
        <form name='new_user' action='/login' method='get' class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="user" type="text" class="validate" name="user">
                    <label for="user">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label for="user_type">Select User</label>
                    <select id="user_type" class="browser-default" name="type">
                        <option value="">身份的象征?</option>
                        <option value="1">学生</option>
                        <option value="2">教师</option>
                        <option value="3">管理员</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-l6">
                    <button class="btn waves-effect waves-light" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>