<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/web/static/css/materialize.min.css"  media="screen,projection"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/web/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/web/static/js/materialize.min.js"></script>
</head>

<body>
    <!-- nav -->
    <nav>
        <div class="nav-wrapper">
            <a href="/student" class="brand-logo left">&nbsp;学生端</a>
            <ul id="nav-mobile" class="hide-on-med-and-down right">
                <li><a href="/student/score">成绩</a></li>
                <li><a href="/">退出</a></li>
            </ul>
        </div>
    </nav>

    <!-- card -->
    <div style="width: 700px; margin: 10% auto;" class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">学生</span>
                    <ul class="collection">
                        <li class="collection-item blue-grey">学号：{{ student.sid }}</li>
                        <li class="collection-item blue-grey">姓名：{{ student.sname }}</li>
                        <li class="collection-item blue-grey">班级：{{ student.cid }}</li>
                    </ul>
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
    </div>


</body>
</html>