<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/web/static/css/materialize.min.css"  media="screen,projection"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/web/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/web/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/web/static/js/teacher_score.js"></script>
    <script type="text/javascript" src="/web/static/js/chart.min.js"></script>
</head>

<body>
    <!-- nav -->
    <nav>
        <div class="nav-wrapper">
            <a href="/teacher" class="brand-logo left">&nbsp;教师端</a>
            <ul id="nav-mobile" class="hide-on-med-and-down right">
                <li><a href="/teacher/course">课程信息</a></li>
                <li><a href="/teacher/score">录入成绩</a></li>
                <li><a href="/">退出</a></li>
            </ul>
        </div>
    </nav>

    <!-- table -->
    <div style="margin:10px 0" class="row">
        <div class="col s12">
            <ul class="tabs">
                {% for course in courses %}
                <li class="tab"><a href="#{{ course.cid }}" class="active">{{ course.cname }}</a></li>
                {% end %}
            </ul>
        </div>
        {% for course in courses %}
        <div id="{{ course.cid }}" class="col s12">
            <div class="card-panel">
                <span class="card-title grey-text">
                    <h3>{{ course.cname }}</h3>
                </span>
                <canvas id="bar_chart_{{ course.cid }}" style="width: 40%;" class="left"></canvas>
                <canvas id="pie_chart_{{ course.cid }}" style="width: 40%;" class="right"></canvas>
                <table class="hoverable">
                    <thead>
                        <tr>
                            <th data-field="id"><span class="green-text left">学号</span></th>
                            <th data-field="name"><span class="green-text left">姓名</span></th>
                            <th data-field="score"><span class="green-text left">成绩</span></th>
                            <th data-field="status"><span class="teal-text left">通过</span></th>
                            <th data-field="space"><span class="green-text right">&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students[course.cid] %}
                        <tr>
                            <td>{{ student[0].sid }}</td>
                            <td>{{ student[0].sname }}</td>
                            <td>{{ student[1].score }}</td>
                            {% if student[1].score >= 60 %}
                            <td><i class="small mdi-toggle-check-box left teal-text darken-1"></i></td>
                            {% else %}
                            <td><i class="small mdi-toggle-check-box-outline-blank left teal-text"></i></td>
                            {% end %}
                            <td>
                                <div class="input-field">
                                    <input id="{{ student[0].sid }}_{{ course.cid }}" type="text" class="validate col s2">
                                    <label for="{{ student[0].sid }}_{{ course.cid }}">成绩</label>
                                </div>
                                <a href="javascript:update_student_score('{{ student[0].sid }}', '{{ course.cid }}')" style="margin-left: 30px" class="btn waves-effect waves-light">修改成绩</a>
                            </td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            draw_chart("{{ course.cid }}");
        </script>
        {% end %}
    </div>

</body>
</html>