<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/web/static/css/materialize.min.css"  media="screen,projection"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/web/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/web/static/js/materialize.min.js"></script>
</head>

<body>
    <!-- nav -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">&nbsp;学生管理系统</a>
            <ul id="nav-mobile" class="hide-on-med-and-down right">
                <li><a href="#">课程信息</a></li>
                <li><a href="#">录入成绩</a></li>
                <li><a href="/">退出</a></li>
            </ul>
        </div>
    </nav>


</body>
</html>